extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sMap/_sMap.pug
include ../blocks/sInfo/_sInfo.pug
include ../blocks/sSpeakers/_sSpeakers.pug
include ../blocks/sHowItWas/_sHowItWas.pug
include ../blocks/sPlan/_sPlan.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Главная'
	title= title
block pagecontent
	//- +mob-mnu()
	
	+parts('header')
	main
		+headerBlock 
		+sMap
		+sInfo
		+sSpeakers
		+sHowItWas
		+sPlan
	+parts('footer')