mixin sInfo(data)
	// start sInfo
	+b.SECTION.sInfo.section#sInfo&attributes(attributes)
		.container
			+e.row.row
				.col-lg-6.order-lg-last 
					+e.item
						.h3 Тема Стартап-тура-2024 – «CreativeTECH. 
						+e.text Креативные индустрии&nbsp;&mdash; импульс для технологического развития&laquo;. &laquo;Сколково&raquo; выступит инициатором диалога о&nbsp;творческих индустриях, как драйвере технологического развития, о&nbsp;необходимости создания экосистемы и&nbsp;поиска новых форм взаимодействия предпринимательского и&nbsp;креативного сообщества в&nbsp;регионах.
				.col-lg-6
					p Стартап-тур проводится в&nbsp;разных городах России с&nbsp;2011 года и&nbsp;является самым масштабным проектом в&nbsp;России и&nbsp;странах СНГ, направленным на&nbsp;поиск перспективных инновационных разработок, развитие компетенций начинающих стартап-команд, популяризацию креативных индустрий и&nbsp;инновационного технологического предпринимательства в&nbsp;России.
					p Стартап-тур стал победителем Russian Creative Awards 2021&nbsp;в номинации &laquo;Лучший креативный проект индустриального сектора&raquo;
					+e.btn.btn.btn-accent(href='#') Узнать больше о мероприятии
	// end sInfo