
mixin mnu()
	nav
		ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
			each link in nav
				if !link.subnav
					li.menu-item(itemprop="item" ): a(href= link.url itemprop="url")= link.name
				if link.subnav
					li.menu-item.menu-item-has-children
						a(href= link.url itemprop="url")= link.name
						ul.sub-menu
							li.menu-item(itemprop="item" ): a(href='#' itemprop="url") Субменю 1
							li.menu-item(itemprop="item" ): a(href='#' itemprop="url") Субменю 2
							li.menu-item(itemprop="item" ): a(href='#' itemprop="url") Субменю 3
							li.menu-item(itemprop="item" ): a(href='#' itemprop="url") Субменю 4
							//- each sublink in link.subnav
							//- 	li.menu-item(itemprop="item" ): a(href= sublink.url itemprop="url")= sublink.name

//- menu